[Unit]
Description=Blueman applet
PartOf=sway-session.target graphical-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure

[Install]
WantedBy=sway-session.target
