polkit.addRule(function(action, subject) {
    var powerActions = [
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.power-off-ignore-inhibit",
        "org.freedesktop.login1.power-off-multiple-sessions",
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.reboot-ignore-inhibit",
        "org.freedesktop.login1.reboot-multiple-sessions",
        "org.freedesktop.login1.suspend",
        "org.freedesktop.login1.suspend-ignore-inhibit",
        "org.freedesktop.login1.suspend-multiple-sessions"
    ];

    if (powerActions.indexOf(action.id) >= 0 && subject.local && subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
